<style>
  .btn-search{
    background-color: #fe424d;
    color: #ffff;
    border-radius: 35px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: #ffff;
  }
  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }

  .search-input{
    border-radius: 35px !important;
    padding: 0.5rem 3rem 0.5rem 3rem !important;
  }

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa-solid fa-route solidIcon2"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-input" type="search" placeholder="Search nextDestination" aria-label="Search"/>
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>

      <div class="navbar-nav ms-auto mt-3">
        <a class="nav-link listProperty" href="/listings/new">Offer a Stay<i class="fa-solid fa-map-pin"></i></a>
        <% if(! currUser) {%>
          <a class="nav-link active" href="/signup"><div><i class="fa-solid fa-user-plus solidIcon ms-3"></i></div><p>SignUp</p></a>
          <a class="nav-link" href="/login"><div><i class="fa-solid fa-right-to-bracket solidIcon ms-2"></i></div><p>SignIn</p></a>
        <% } %>
        <% if(currUser) {%>
          <a class="nav-link" href="/logout"><div><i class="fa-solid fa-power-off solidIcon ms-3"></i></div><p>LogOut</p></a>
        <% } %>

        
      </div>
    </div>
  </div>
</nav>