body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}


/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.solidIcon{
    color: #fe424d;
    font-size: 1.4rem; 
}
.solidIcon2{
    color: #fe424d;
    font-size: 2.4rem; 
    margin-left: 2rem;
}
.nav-link{
    color: black !important;
    font-size: large !important;
    font-weight:600 !important;
}
.listProperty{
    margin-right: 2rem;
}

.fa-map-pin{
    margin-top: 1rem;
}
.navbar-nav{
    display: flex !important;
    flex-wrap: wrap !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.f-info-links a:hover{
    text-decoration:underline;
}
.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info{
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
    background-color: rgb(46, 46, 46);
    justify-content: center;
    align-items: space-evenly;
    color: white;
    text-align: center;
}


/* listing route */
.listing-card{
    border: none !important;
    margin-bottom: 2rem !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.5;
    background-color: white;
}

.container{
    flex: 1;
}

.show-img{
    height:30vh;
}

.btns{
    display: flex;
}

/* review-card */
.review-card{
    padding: 0.5rem;
}


/* show */
.showBtn{
    margin-bottom: 1rem !important;
}

.booking{
    border: 2px solid red;
    border-radius: 0.5rem;
    padding: 3rem;
}

/* map */
#map {
  height: 400px;              /* fixed height */
  width: 100%;                /* take full width of parent */
  max-width: 800px;           /* optional: limit max width */
  border: 2px solid red;
  border-radius: 0.5rem;
  margin: 0 auto;             /* center horizontally */
}

/* For smaller screens, reduce height */
@media (max-width: 768px) {
  #map {
    height: 300px;
  }
}

@media (max-width: 480px) {
  #map {
    height: 200px;
  }
}
